<app-layout>
  <div class="flex gap-4 overflow-hidden w-full h-full" id="Create">
    <div class="grow">
      <app-card-list
        [cards]="cards"
        [loading]="loading"
        [totalCount]="totalCount"
        [page]="page"
        (addCard)="addCard($event)"
        (backPage)="onBackPageChanged()"
        (nextPage)="onNextPageChanged()"
      ></app-card-list>
    </div>

    <div class="w-72 flex flex-col gap-4" *ngIf="!loading">
      <div class="bg-gray-100 shadow-md rounded-md p-5 h-auto">
        <app-form [cardAddList]="cardsAdd"></app-form>
      </div>

      <div class="bg-gray-100 shadow-md rounded-md p-5 h-4/5 overflow-auto">
        <div *ngIf="decks.length === 0">
          <span>Você ainda não tem baralhos. Que tal criar um agora?</span>
        </div>
        <app-deck-list [home]="false" [decks]="decks"></app-deck-list>
      </div>
    </div>
  </div>
</app-layout>

<igx-dialog
  #dialog
  message="Você atingiu o limite de 4 cartas com o mesmo nome neste baralho."
  leftButtonLabel="OK"
  (leftButtonSelect)="dialog.close()"
>
</igx-dialog>

<igx-dialog
  #dialogAlertLimit
  message="Você atingiu o limite máximo de cartas neste baralho."
  leftButtonLabel="OK"
  (leftButtonSelect)="dialogAlertLimit.close()"
>
</igx-dialog>
