<div [ngClass]="home ? 'container-decks' : 'container-decks-list'">
  <div class="p-2 h-fit" *ngFor="let item of decks">
    <div class="relative cursor-pointer deck-card rounded-md" (click)="openDeckDetail(item)">
      <img class="rounded-md" src="../../../assets/images/back-card.jpg" alt="" />
      <div
        class="flex flex-wrap items-center bg-[#152248] shadow-md rounded-md absolute text-[#fff] p-2.5 text-xs w-full bottom-[3px] h-fit"
      >
        <span class="">{{ item.name }}</span>
      </div>
    </div>
  </div>
</div>
